<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fujiang.weiji.mapper.runoob.RunoobTblMapper">
  <resultMap id="BaseResultMap" type="com.fujiang.weiji.entity.runoob.RunoobTbl">
    <id column="runoob_id" jdbcType="INTEGER" property="runoobId" />
    <result column="runoob_title" jdbcType="VARCHAR" property="runoobTitle" />
    <result column="runoob_author" jdbcType="VARCHAR" property="runoobAuthor" />
    <result column="submission_date" jdbcType="DATE" property="submissionDate" />
    <result column="qweqwe" jdbcType="REAL" property="qweqwe" />
    <result column="sdfsdfsdf" jdbcType="DOUBLE" property="sdfsdfsdf" />
    <result column="retert" jdbcType="DECIMAL" property="retert" />
  </resultMap>
  <sql id="Base_Column_List">
    runoob_id, runoob_title, runoob_author, submission_date, qweqwe, sdfsdfsdf, retert
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from runoob_tbl
    where runoob_id = #{runoobId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from runoob_tbl
    where runoob_id = #{runoobId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fujiang.weiji.entity.runoob.RunoobTbl">
    insert into runoob_tbl (runoob_id, runoob_title, runoob_author, 
      submission_date, qweqwe, sdfsdfsdf, 
      retert)
    values (#{runoobId,jdbcType=INTEGER}, #{runoobTitle,jdbcType=VARCHAR}, #{runoobAuthor,jdbcType=VARCHAR}, 
      #{submissionDate,jdbcType=DATE}, #{qweqwe,jdbcType=REAL}, #{sdfsdfsdf,jdbcType=DOUBLE}, 
      #{retert,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.fujiang.weiji.entity.runoob.RunoobTbl">
    insert into runoob_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="runoobId != null">
        runoob_id,
      </if>
      <if test="runoobTitle != null">
        runoob_title,
      </if>
      <if test="runoobAuthor != null">
        runoob_author,
      </if>
      <if test="submissionDate != null">
        submission_date,
      </if>
      <if test="qweqwe != null">
        qweqwe,
      </if>
      <if test="sdfsdfsdf != null">
        sdfsdfsdf,
      </if>
      <if test="retert != null">
        retert,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="runoobId != null">
        #{runoobId,jdbcType=INTEGER},
      </if>
      <if test="runoobTitle != null">
        #{runoobTitle,jdbcType=VARCHAR},
      </if>
      <if test="runoobAuthor != null">
        #{runoobAuthor,jdbcType=VARCHAR},
      </if>
      <if test="submissionDate != null">
        #{submissionDate,jdbcType=DATE},
      </if>
      <if test="qweqwe != null">
        #{qweqwe,jdbcType=REAL},
      </if>
      <if test="sdfsdfsdf != null">
        #{sdfsdfsdf,jdbcType=DOUBLE},
      </if>
      <if test="retert != null">
        #{retert,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fujiang.weiji.entity.runoob.RunoobTbl">
    update runoob_tbl
    <set>
      <if test="runoobTitle != null">
        runoob_title = #{runoobTitle,jdbcType=VARCHAR},
      </if>
      <if test="runoobAuthor != null">
        runoob_author = #{runoobAuthor,jdbcType=VARCHAR},
      </if>
      <if test="submissionDate != null">
        submission_date = #{submissionDate,jdbcType=DATE},
      </if>
      <if test="qweqwe != null">
        qweqwe = #{qweqwe,jdbcType=REAL},
      </if>
      <if test="sdfsdfsdf != null">
        sdfsdfsdf = #{sdfsdfsdf,jdbcType=DOUBLE},
      </if>
      <if test="retert != null">
        retert = #{retert,jdbcType=DECIMAL},
      </if>
    </set>
    where runoob_id = #{runoobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fujiang.weiji.entity.runoob.RunoobTbl">
    update runoob_tbl
    set runoob_title = #{runoobTitle,jdbcType=VARCHAR},
      runoob_author = #{runoobAuthor,jdbcType=VARCHAR},
      submission_date = #{submissionDate,jdbcType=DATE},
      qweqwe = #{qweqwe,jdbcType=REAL},
      sdfsdfsdf = #{sdfsdfsdf,jdbcType=DOUBLE},
      retert = #{retert,jdbcType=DECIMAL}
    where runoob_id = #{runoobId,jdbcType=INTEGER}
  </update>
</mapper>